In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
df = pd.read_csv("./BloodPressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [4]:
df.loc[df['sex'] == 'Male'].describe()

         patient   bp_before    bp_after
count  60.000000   60.000000   60.000000
mean   30.500000  159.266667  155.516667
std    17.464249   11.413442   15.243217
min     1.000000  140.000000  125.000000
25%    15.750000  150.750000  145.000000
50%    30.500000  158.000000  158.500000
75%    45.250000  170.000000  164.750000
max    60.000000  185.000000  185.000000

In [7]:
# df.loc[df['sex'] == 'Male']

In [10]:
df.groupby('sex').describe()

       patient                                                    bp_before  \
         count  mean        std   min    25%   50%     75%    max     count
sex
Female    60.0  90.5  17.464249  61.0  75.75  90.5  105.25  120.0      60.0
Male      60.0  30.5  17.464249   1.0  15.75  30.5   45.25   60.0      60.0

                    ...                bp_after                                \
              mean  ...     75%    max    count        mean        std    min
sex                 ...
Female  153.633333  ...  161.25  185.0     60.0  147.200000  11.742722  127.0
Male    159.266667  ...  170.00  185.0     60.0  155.516667  15.243217  125.0


          25%    50%     75%    max
sex
Female  138.0  146.0  152.00  178.0
Male    145.0  158.5  164.75  185.0

[2 rows x 24 columns]

In [15]:
col = ['bp_before', 'bp_after']
df.groupby('sex')[col].describe()

       bp_before                                                              \
           count        mean        std    min     25%    50%     75%    max
sex
Female      60.0  153.633333  10.735600  138.0  144.75  151.0  161.25  185.0
Male        60.0  159.266667  11.413442  140.0  150.75  158.0  170.00  185.0

       bp_after
          count        mean        std    min    25%    50%     75%    max
sex
Female     60.0  147.200000  11.742722  127.0  138.0  146.0  152.00  178.0
Male       60.0  155.516667  15.243217  125.0  145.0  158.5  164.75  185.0

In [51]:
df_2 = df.groupby('sex')[col].mean().round(2)
df_2
means_df = df_2
means_df

        bp_before  bp_after
sex
Female     153.63    147.20
Male       159.27    155.52

In [25]:
stats.chi2(df)

In [46]:
chi2, p, dof, expected = \
    stats.chi2_contingency(df_2, correction=False)

In [47]:
print(f"chi2 statistic: {chi2:.5g}")
print(f"p-value: {p:.5g}")
print(f"degrees of freedom: {dof}")
print("expected frequencies:")
print(expected)

chi2 statistic: 0.013774
p-value: 0.90657
degrees of freedom: 1
expected frequencies:
[[152.90228875 147.92771125]
 [159.99771125 154.79228875]]

In [48]:
significant = .05

In [49]:
if p < significant:
    print("Reject the null hypothesis ")
else:
    print("Accept the null hypothesis")

Accept the null hypothesis

# Ttest : difference mean

In [60]:
means_df

        bp_before  bp_after
sex
Female     153.63    147.20
Male       159.27    155.52

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [56]:
df.bp_before

0      143
1      163
2      153
3      153
4      146
      ...
115    152
116    161
117    165
118    149
119    185
Name: bp_before, Length: 120, dtype: int64

In [68]:
(df.loc[df['sex'] == 'Male'].bp_before.var(),
df.loc[df['sex'] == 'Male'].bp_after.var()
)

(130.26666666666665, 232.35564971751415)

In [69]:
(df.loc[df['sex'] == 'Female'].bp_before.var(),
df.loc[df['sex'] == 'Female'].bp_after.var()
)

(115.25310734463275, 137.89152542372884)

In [77]:
t, p_val = stats.ttest_rel(a=df.loc[df['sex'] == 'Female'].bp_before,
               b=df.loc[df['sex'] == 'Female'].bp_after,
                          )
t, p_val

(3.4767481886426155, 0.0009590729491960203)

In [78]:
t, p_val = stats.ttest_ind(a=df.loc[df['sex'] == 'Male'].bp_before,
               b=df.loc[df['sex'] == 'Male'].bp_after,
                          )
t, p_val

(1.5253855536172802, 0.12983879650076743)

In [73]:
significant

0.05