In [2]:
from mysql import connector

ModuleNotFoundError: No module named 'mysql'

# $$
\frac{10^{n}-1}{3}
$$